* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("../img/galaxy.jpg");
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.error {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f62b54;
  color: #fff;
  position: absolute;
  padding: 20px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  width: 19%;
}

.error a {
  align-self: flex-end;
}

.x_container {
  background-color: #fff;
  border-radius: 50%;
  width: 25px;
  height: 25px;
}

.x_container img {
  display: block;
  width: 25px;
}

.error h1 {
  text-decoration: underline;
  display: inline-block;
  margin-bottom: 20px;
}

.error p {
  display: inline-block;
}
