@font-face {
  font-family: "Poppins_Regular";
  src: url("../font/Poppins/Poppins-Regular.ttf");
}

@font-face {
  font-family: "Poppins_Bold";
  src: url("../font/Poppins/Poppins-Bold.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 100vw;
  height: 100vh;
  color: #fff;
}

.everest {
  display: block;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: center;
}

.info_container {
  position: absolute;
  top: 20%;
  right: 20%;
}

.info_container h1 {
  font-size: 2rem;
  font-family: "Poppins_Bold";
  margin-bottom: 1rem;
}

.info_container p {
  font-family: "Poppins_regular";
  font-size: 1.5rem;
  text-align: right;
}
